{{#if sessionTag}}
    <b>Session time</b>: {{startDate}}<br />
    <br />
        {{#toggle-fave sessionTag=sessionTag}}{{/toggle-fave}}
        <a href="/conference/schedule/" class="btn btn-secondary btn-text">View my Schedule and Zoom Links</a>
    <br />
    <small>All dates and times are in your local time zone</small>
{{/if}}