$gray-800: #CCCCCC;
$black: #222222;
$white: #fff;

.conference__navigation {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 16px;

  a,
  a:visited {
    display: inline-block;
    color: #fff;
    padding: 12px 16px;
  }

  li {
    display: inline-block;
    list-style: none;
    background-color: $tertiary;
  }

  li:hover,
  li:focus {
    background-color: $highlight;
  }
}

.conference__schedule {
  margin-top: 32px;
}

.conference__event {
  display: flex;
  justify-content: space-between;
  border: 1px solid $gray-800;
  margin-bottom: 8px;
  color: $black;
}

.conference__schedule {
  .conference__event {
    &:hover {
      //background-color: lighten($bg-event, 10%);
    }
  }
}

.conference__event__time {
  display: flex;
  flex: 0 0 80px;
  margin: 8px;
}

.conference__event__content {
  display: flex;
  flex-grow: 1;
  margin: 8px 16px;
  list-style: none;
}

.conference__event__meta {
  flex-grow: 1;
  text-align: left;
  display: flex;
  flex-direction: column;

  color: $black;
  &:visited {
    color: $black;
  }
}

.conference__event__title {
  font-weight: bold;
}

.conference__event__author {
  margin-bottom: 6px;
}

.conference__event__actions {
  display: flex;
  white-space: nowrap;
  //text-align: right;
  align-self: center;
  margin: 8px 16px;
}

.conference__event__actions button {
  margin-right: 8px;
}

.conference__upcoming {
  margin-bottom: 32px;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
}
