$gray-800: #CCCCCC;
$blue-500: #0D59F2;
$black: #222222;
$white: #fff;

.conference__navigation {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 16px;

  a,
  a:visited,
  a:hover {
    display: inline-block;
    color: #fff;
    padding: 12px 16px;
  }

  li {
    display: inline-block;
    list-style: none;
    background-color: $tertiary;
  }

  li:hover,
  li:focus {
    background-color: $highlight;
  }
}

.conference__schedule {
  margin-top: 16px;
  margin-left: 0;
}

.conference__schedule__date {
  margin-top: 32px;
}

.conference__event {
  display: flex;
  justify-content: space-between;
  border: 1px solid $gray-800;
  margin-bottom: 8px;
  color: $black;

  &:hover,
  &:active {
    border: 1px solid $blue-500;
  }
}

.conference__event__time {
  display: flex;
  flex: 0 0 auto;
  margin: 8px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.conference__event__content {
  display: flex;
  flex-grow: 1;
  margin: 8px 16px;
  list-style: none;
}

.conference__event__meta {
  flex-grow: 1;
  text-align: left;
  display: flex;
  flex-direction: column;

  color: $black;
  &:visited,
  &:hover {
    color: $black;
  }
}

.conference__event__title {
  font-weight: bold;
  margin-bottom: 4px;
}

.conference__event__author {
  margin-bottom: 4px;
}

.conference__event__actions__wrapper {
  display: flex;
  flex-direction: column;
}

.conference__event__actions {
  display: flex;
  white-space: nowrap;
  align-self: center;
  margin: 8px 16px;
}

.conference__event__actions button {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.conference__event__actions__zoom {
  padding-bottom: 8px;
}

.conference__upcoming {
  margin-top: 16px;
  margin-bottom: 32px;
}

.conference__upcoming .conference__schedule {
  margin: 16px 80px 32px;

  @media screen and (max-width: 800px) {
    margin: 16px auto;
  }
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
}


.conference__filters {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.conference__filter__mine {
  position: relative;
  cursor: pointer;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border: 1px solid $gray-800;
  border-radius: 2px;
}

.conference__filter__mine .d-button-label {
  margin-left: 4px;
}

.conference__filter__mine .d-icon-oeg-icon-circle-check {
  color: #FF0000;
}

.conference__filter__mine input {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  max-width: 100%;
}

.topic-above-posts-outlet.buttons {
  padding-top: 12px;
  padding-bottom: 20px;
}

.conference__schedule__entry__controls {
  margin-left: 32px;
}

.conference__filters select {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid var(--primary-low-mid);
  border-radius: 2px;
}

.conference__login_prompt {

}
